$background-color-start: rgba(247,250,255,1);
$background-color-end: rgba(226,231,239,1);

$shadow-ball-color-start: #cfd3da;
$shadow-ball-color-end: #ffffff;

$header-primary-color: #9Fa0aa;
$header-secondary-color: #6c6d71;

$loader-color: #6c6d71;